In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/
Mounted at /content/gdrive/

## Reading Dataset

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/Data science diploma/Dataset/Datasets/advertising.csv")
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

## Data investigation

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [ ]:
df.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

In [ ]:
# No outliers need to be handled

In [ ]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [ ]:
df['year'] = df['Timestamp'].dt.year
df['month'] = df['Timestamp'].dt.month
df['day'] = df['Timestamp'].dt.day_name()

In [ ]:
def season(x):
  if x in [12,1,2]:
    return 'winter'
  elif x in [3,4,5]:
    return 'spring'
  elif x in [6,7,8]:
    return 'summer'
  else:
    return 'autumn'
def is_weekend(day):
  if day in ['Saturday','Sunday']:
    return 1
  else:
    return 0
df['season'] = df['month'].apply(season)
df['is_weekend'] = df['day'].apply(is_weekend)

In [ ]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad,year,month,day,season,is_weekend
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0,2016,3,Sunday,spring,1
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0,2016,4,Monday,spring,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0,2016,3,Sunday,spring,1
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0,2016,1,Sunday,winter,1
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0,2016,6,Friday,summer,0

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad,year,month,day,season,is_weekend
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0,2016,3,Sunday,spring,1
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0,2016,4,Monday,spring,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0,2016,3,Sunday,spring,1
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0,2016,1,Sunday,winter,1
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0,2016,6,Friday,summer,0

## Split input and output

In [ ]:
X = df.drop(['Clicked on Ad','Timestamp','Ad Topic Line','City','Country','day'], axis=1)
y = df['Clicked on Ad']

## Handle categorical data

In [ ]:
X.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,year,month,season,is_weekend
0,68.95,35,61833.90,256.09,0,2016,3,spring,1
1,80.23,31,68441.85,193.77,1,2016,4,spring,0
2,69.47,26,59785.94,236.50,0,2016,3,spring,1
3,74.15,29,54806.18,245.89,1,2016,1,winter,1
4,68.37,35,73889.99,225.58,0,2016,6,summer,0

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,year,month,season,is_weekend
0,68.95,35,61833.90,256.09,0,2016,3,spring,1
1,80.23,31,68441.85,193.77,1,2016,4,spring,0
2,69.47,26,59785.94,236.50,0,2016,3,spring,1
3,74.15,29,54806.18,245.89,1,2016,1,winter,1
4,68.37,35,73889.99,225.58,0,2016,6,summer,0

In [ ]:
from sklearn.preprocessing import OneHotEncoder
One_Hot_Encoder = OneHotEncoder(drop='first')
new_df = One_Hot_Encoder.fit_transform(df[['season']])
new_df = pd.DataFrame(new_df.toarray(), columns= One_Hot_Encoder.get_feature_names_out())
X = pd.concat([X, new_df],axis=1)

In [ ]:
X.drop(['season'], axis=1 , inplace=True)
X.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,year,month,is_weekend,season_summer,season_winter
0,68.95,35,61833.90,256.09,0,2016,3,1,0.0,0.0
1,80.23,31,68441.85,193.77,1,2016,4,0,0.0,0.0
2,69.47,26,59785.94,236.50,0,2016,3,1,0.0,0.0
3,74.15,29,54806.18,245.89,1,2016,1,1,0.0,1.0
4,68.37,35,73889.99,225.58,0,2016,6,0,1.0,0.0

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,year,month,is_weekend,season_summer,season_winter
0,68.95,35,61833.90,256.09,0,2016,3,1,0.0,0.0
1,80.23,31,68441.85,193.77,1,2016,4,0,0.0,0.0
2,69.47,26,59785.94,236.50,0,2016,3,1,0.0,0.0
3,74.15,29,54806.18,245.89,1,2016,1,1,0.0,1.0
4,68.37,35,73889.99,225.58,0,2016,6,0,1.0,0.0

## Cross Validation

In [ ]:
from sklearn.model_selection import  cross_val_predict, cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

In [ ]:
lr = LogisticRegression()
score = cross_validate(lr, X,y,return_train_score=True,scoring=('accuracy','recall','precision','f1'),n_jobs=-1)

In [ ]:
score

{'fit_time': array([0.04027677, 0.06897068, 0.05788088, 0.09060192, 0.12422991]),
 'score_time': array([0.00698638, 0.0082972 , 0.0139327 , 0.01561356, 0.02121639]),
 'test_accuracy': array([0.98 , 0.96 , 0.985, 0.95 , 0.96 ]),
 'train_accuracy': array([0.9675 , 0.97125, 0.96375, 0.97375, 0.97375]),
 'test_recall': array([0.97, 0.93, 1.  , 0.95, 0.94]),
 'train_recall': array([0.9575, 0.965 , 0.9525, 0.965 , 0.9675]),
 'test_precision': array([0.98979592, 0.9893617 , 0.97087379, 0.95      , 0.97916667]),
 'train_precision': array([0.97704082, 0.97721519, 0.97442455, 0.9821883 , 0.97974684]),
 'test_f1': array([0.97979798, 0.95876289, 0.98522167, 0.95      , 0.95918367]),
 'train_f1': array([0.96717172, 0.97106918, 0.96333755, 0.97351828, 0.97358491])}

In [ ]:
# Random Forest
rf = RandomForestClassifier()
score = cross_validate(rf, X,y,return_train_score=True,scoring=('accuracy','recall','precision','f1'),n_jobs=-1)
score

{'fit_time': array([0.27311897, 0.32242775, 0.42865658, 0.41265512, 0.26694965]),
 'score_time': array([0.04046845, 0.03535867, 0.02602983, 0.0450418 , 0.01520967]),
 'test_accuracy': array([0.965, 0.955, 0.985, 0.95 , 0.96 ]),
 'train_accuracy': array([1.     , 1.     , 1.     , 0.99875, 1.     ]),
 'test_recall': array([0.96, 0.93, 0.99, 0.94, 0.94]),
 'train_recall': array([1.    , 1.    , 1.    , 0.9975, 1.    ]),
 'test_precision': array([0.96969697, 0.97894737, 0.98019802, 0.95918367, 0.97916667]),
 'train_precision': array([1., 1., 1., 1., 1.]),
 'test_f1': array([0.96482412, 0.95384615, 0.98507463, 0.94949495, 0.95918367]),
 'train_f1': array([1.        , 1.        , 1.        , 0.99874844, 1.        ])}

In [ ]:
# Support Vector Machine
sv = SVC()
score = cross_validate(sv, X,y,return_train_score=True,scoring=('accuracy','recall','precision','f1'),n_jobs=-1)
score
## Bad results

{'fit_time': array([0.0827415 , 0.07582021, 0.07884359, 0.0933187 , 0.04713392]),
 'score_time': array([0.03058505, 0.03813767, 0.01583338, 0.04576039, 0.04107642]),
 'test_accuracy': array([0.735, 0.71 , 0.695, 0.695, 0.725]),
 'train_accuracy': array([0.7125 , 0.7175 , 0.72   , 0.71625, 0.7125 ]),
 'test_recall': array([0.57, 0.51, 0.58, 0.58, 0.63]),
 'train_recall': array([0.5925, 0.5925, 0.5725, 0.555 , 0.5675]),
 'test_precision': array([0.85074627, 0.85      , 0.75324675, 0.75324675, 0.77777778]),
 'train_precision': array([0.77960526, 0.79      , 0.81205674, 0.81918819, 0.79929577]),
 'test_f1': array([0.68263473, 0.6375    , 0.65536723, 0.65536723, 0.6961326 ]),
 'train_f1': array([0.67329545, 0.67714286, 0.67155425, 0.66169896, 0.66374269])}

In [ ]:
# KNN
knn = KNeighborsClassifier()
score = cross_validate(knn, X,y,return_train_score=True,scoring=('accuracy','recall','precision','f1'),n_jobs=-1)
score
## Bad results , imbalanced model

{'fit_time': array([0.01078844, 0.00617957, 0.00403428, 0.00452495, 0.00435758]),
 'score_time': array([0.03783846, 0.05684853, 0.01685977, 0.0352335 , 0.04020238]),
 'test_accuracy': array([0.715, 0.67 , 0.755, 0.74 , 0.705]),
 'train_accuracy': array([0.81375, 0.8025 , 0.81625, 0.80875, 0.81125]),
 'test_recall': array([0.66, 0.59, 0.72, 0.7 , 0.67]),
 'train_recall': array([0.79  , 0.75  , 0.765 , 0.7675, 0.76  ]),
 'test_precision': array([0.74157303, 0.70238095, 0.77419355, 0.76086957, 0.72043011]),
 'train_precision': array([0.82939633, 0.83798883, 0.85236769, 0.83651226, 0.84679666]),
 'test_f1': array([0.6984127 , 0.64130435, 0.74611399, 0.72916667, 0.69430052]),
 'train_f1': array([0.80921895, 0.79155673, 0.80632411, 0.80052151, 0.80105402])}

In [ ]:
# Naive Bayes
nb = GaussianNB()
score = cross_validate(nb, X,y,return_train_score=True,scoring=('accuracy','recall','precision','f1'),n_jobs=-1)
score

{'fit_time': array([0.02115202, 0.00890541, 0.01096463, 0.00409675, 0.00805688]),
 'score_time': array([0.04684472, 0.02719045, 0.00606203, 0.01373816, 0.01145816]),
 'test_accuracy': array([0.975, 0.96 , 0.985, 0.95 , 0.965]),
 'train_accuracy': array([0.9675 , 0.9675 , 0.965  , 0.96875, 0.96875]),
 'test_recall': array([0.98, 0.94, 1.  , 0.95, 0.95]),
 'train_recall': array([0.965 , 0.965 , 0.96  , 0.965 , 0.9725]),
 'test_precision': array([0.97029703, 0.97916667, 0.97087379, 0.95      , 0.97938144]),
 'train_precision': array([0.96984925, 0.96984925, 0.96969697, 0.97229219, 0.96526055]),
 'test_f1': array([0.97512438, 0.95918367, 0.98522167, 0.95      , 0.96446701]),
 'train_f1': array([0.96741855, 0.96741855, 0.96482412, 0.96863237, 0.96886675])}

## Gride Search

In this case, I will apply it on Logistic regression, random forest, SVC and KNN as they were found to be balanced models during cross validation process

In [ ]:
from sklearn.model_selection import GridSearchCV

### Logistic Regression

In [ ]:
parameters = {
    'C':[0.5,1,0.3,0.4],
    'solver':['liblinear','sag', 'saga']
}
grid_search = GridSearchCV(estimator=lr,param_grid=parameters, scoring='accuracy',n_jobs=-1)
grid_search.fit(X,y)

GridSearchCV(estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'C': [0.5, 1, 0.3, 0.4],
                         'solver': ['liblinear', 'sag', 'saga']},
             scoring='accuracy')

In [ ]:
grid_search.best_score_

0.967

In [ ]:
grid_search.best_params_

{'C': 0.5, 'solver': 'liblinear'}

### Random Forest

In [ ]:
parameters = {
    'n_estimators':[100,50,70,80,40,150],
    'max_depth':[10,5,7,4,6,8,9],
    'criterion':['gini','entropy']
}
grid_search = GridSearchCV(estimator=rf,param_grid=parameters, scoring='accuracy',n_jobs=-1)
grid_search.fit(X,y)

GridSearchCV(estimator=RandomForestClassifier(max_depth=10, n_estimators=50),
             n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [10, 5, 7, 4, 6, 8, 9],
                         'n_estimators': [100, 50, 70, 80, 40, 150]},
             scoring='accuracy')

In [ ]:
grid_search.best_score_

0.968

In [ ]:
grid_search.best_params_

{'criterion': 'gini', 'max_depth': 10, 'n_estimators': 80}

## Support Vector Machine

In [ ]:
parameters = {
    'C':[1,5,0.5,0.3,3],
    'kernel':['linear', 'poly', 'rbf', 'sigmoid']
}
grid_search = GridSearchCV(estimator=sv,param_grid=parameters, scoring='accuracy',n_jobs=-1,cv=5)
grid_search.fit(X,y)

GridSearchCV(cv=5, estimator=SVC(), n_jobs=-1,
             param_grid={'C': [1, 5, 0.5, 0.3, 3],
                         'kernel': ['linear', 'poly', 'rbf', 'sigmoid']},
             scoring='accuracy')

In [ ]:
grid_search.best_score_

0.969

In [ ]:
grid_search.best_params_

{'C': 1, 'kernel': 'linear'}

## Train , validate , Test

In [ ]:
from sklearn.model_selection import train_test_split
x_train , x_val_test , y_train , y_val_test = train_test_split(X,y, test_size=0.2,random_state=42, stratify=y)
x_val , x_test , y_val , y_test = train_test_split(x_val_test,y_val_test, test_size=0.5,random_state=42, stratify=y_val_test)

## Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)
x_val = scaler.transform(x_val)

In [ ]:
y.value_counts()
# Data is balanced

0    500
1    500
Name: Clicked on Ad, dtype: int64

0    500
1    500
Name: Clicked on Ad, dtype: int64

## Final Model

In [ ]:
from sklearn.metrics import classification_report

### Logistic Regression

In [ ]:
lr = LogisticRegression(C= 0.5, solver= 'liblinear')
lr.fit(x_train,y_train)
print("Training score : ",classification_report(y_train,lr.predict(x_train)))
print("Testing score : ",classification_report(y_test,lr.predict(x_test)))

Training score :                precision    recall  f1-score   support

           0       0.96      0.98      0.97       400
           1       0.98      0.96      0.97       400

    accuracy                           0.97       800
   macro avg       0.97      0.97      0.97       800
weighted avg       0.97      0.97      0.97       800

Testing score :                precision    recall  f1-score   support

           0       0.94      0.98      0.96        50
           1       0.98      0.94      0.96        50

    accuracy                           0.96       100
   macro avg       0.96      0.96      0.96       100
weighted avg       0.96      0.96      0.96       100

### SVM

In [ ]:
svm = SVC(C= 1, kernel= 'linear')
svm.fit(x_train,y_train)
print("Training score : ",classification_report(y_train,svm.predict(x_train)))
print("Testing score : ",classification_report(y_test,svm.predict(x_test)))

Training score :                precision    recall  f1-score   support

           0       0.97      0.97      0.97       400
           1       0.97      0.96      0.97       400

    accuracy                           0.97       800
   macro avg       0.97      0.97      0.97       800
weighted avg       0.97      0.97      0.97       800

Testing score :                precision    recall  f1-score   support

           0       0.94      0.98      0.96        50
           1       0.98      0.94      0.96        50

    accuracy                           0.96       100
   macro avg       0.96      0.96      0.96       100
weighted avg       0.96      0.96      0.96       100

### Random Forest

In [ ]:
rf = RandomForestClassifier(criterion= 'gini', max_depth=10, n_estimators= 80)
rf.fit(x_train,y_train)
print("Training score : ",classification_report(y_train,rf.predict(x_train)))
print("Testing score : ",classification_report(y_test,rf.predict(x_test)))

Training score :                precision    recall  f1-score   support

           0       1.00      1.00      1.00       400
           1       1.00      1.00      1.00       400

    accuracy                           1.00       800
   macro avg       1.00      1.00      1.00       800
weighted avg       1.00      1.00      1.00       800

Testing score :                precision    recall  f1-score   support

           0       0.96      0.98      0.97        50
           1       0.98      0.96      0.97        50

    accuracy                           0.97       100
   macro avg       0.97      0.97      0.97       100
weighted avg       0.97      0.97      0.97       100